@import "tailwindcss";

@theme {
  --font-family: var(--font);
  
  --color-dark: #1E1E24;
  --color-light: #EAEAF0;
  --color-primary: #527ACC;
  --color-success: #52CC7A;
  --color-error: #CC5252;
  --color-warning: #CCA352;

  --text-sm: 12px;
  --text-md: 16px;
  --text-lg: 20px;
  --text-xl: 24px;

  --font-weight-normal: 400;
  --font-weight-bold: 700;

  --spacing: 0.25rem;

  --blur: 6px;
  
  --animate-spin: spin 1s linear infinite;

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}

@layer base {
  h1 {
    font-size: var(--text-xl);
    font-weight: var(--font-weight-bold);
  }
  h2 {
    font-size: var(--text-lg);
    font-weight: var(--font-weight-bold);
  }
  h3 {
    font-size: var(--text-md);
    font-weight: var(--font-weight-bold);
  }
}

@layer components {
  .lucide {
    width: 1.2em;
    height: 1.2em;
  }
}

@utility glass {
  background: color-mix(in srgb, var(--color-dark) 40%, transparent);
  box-shadow: 0px 0px 3px color-mix(in srgb, var(--color-dark) 40%, transparent),inset -1px -1px 1px color-mix(in srgb, var(--color-light) 60%, transparent),inset 1px 1px 1px color-mix(in srgb, var(--color-light) 60%, transparent),inset -6px -6px 6px color-mix(in srgb, var(--color-light) 20%, transparent),inset 6px 6px 6px color-mix(in srgb, var(--color-light) 20%, transparent);
  backdrop-filter: blur(var(--blur));
}
